* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: weight;
  font-optical-sizing: auto;
  letter-spacing: -0.01rem;
  background-color: #f4f4f4;
}

.noise {
  position: fixed;
  inset: 0;
  pointer-events: none;
  visibility: visible;
  background-image: url("https://i.ibb.co/x3TCktM/645cbb8ec449398255b76326-noise.gif");
  background-position: 0 0;
  background-size: auto;
  opacity: 0.035;
}

a {
  width: -moz-fit-content;
  width: fit-content;
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

video {
  display: block;
  width: 100%;
  height: 100%;
}

.section-nav {
  position: fixed;
  z-index: 800;
}

.container-nav {
  padding-inline: 5.4vw;
  text-transform: uppercase;
}

.section {
  padding-inline: 0;
  margin-inline: 0;
}

.container {
  padding-inline: 5.4vw;
}

.divition-line {
  margin-top: 8rem;
  margin-bottom: 8rem;
  border-top: 1px solid #000;
}
.divition-line-sht {
  margin-top: 1rem;
  margin-right: 90%;
  margin-bottom: 6rem;
  border-top: 2px solid #000;
}
.divition-line-tight {
  margin-top: 4rem;
  margin-bottom: 1rem;
  border-top: 1px solid #000;
}

.see-button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5em 2.5rem;
  font-size: 0.7rem;
  color: black;
  border: 1px solid black;
  border-radius: 1.6rem;
}
.see-button:hover {
  color: white;
  background-color: #000;
}

.underIcon circle {
  position: absolute;
  top: 750%;
  left: 2%;
  width: 3rem;
  height: 3rem;
  overflow: auto;
  background-color: #252422;
  border-radius: 80%;
}
.underIcon svg {
  position: absolute;
  top: 0.3rem;
  left: 0.6rem;
  max-width: 60%;
  height: auto;
}
.underIcon a :hover {
  transition: 0.2s;
  transform: scale(1.1);
}

.nav {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  gap: 20vw;
  width: 100%;
  padding-block: 2.875rem;
  color: white;
}
.nav svg {
  fill: white;
}
.nav .item {
  display: flex;
  gap: 3rem;
}
.nav .item-d {
  position: relative;
  display: inline-block;
  padding: 3px;
}
.nav .item-d ::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  content: "";
  background: rgb(255, 255, 255);
  transition: all 0.3s ease-in-out;
}
.nav .item-d :hover::after {
  width: 100%;
}
.nav .logo {
  width: 100%;
  max-width: 8rem;
}
.nav .menu {
  text-align: right;
}

#two {
  padding-block: 15vw 8rem;
}
#two .item-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
#two .item-2 .adage:hover,
#two .item-2 .webby:hover,
#two .item-2 .campaign:hover {
  text-decoration: underline;
}
#two .item-2 .adage:hover figure,
#two .item-2 .webby:hover figure,
#two .item-2 .campaign:hover figure {
  transition: 0.2s;
  transform: scale(1.05);
}
#two .item-2 p {
  max-width: 15rem;
  margin-top: 4rem;
  font-size: 1rem;
  text-align: center;
}

.three {
  display: flex;
  justify-content: space-between;
}
.three .left {
  max-width: 60%;
}

#img-c {
  margin-top: 3rem;
}
#img-c .img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.3rem;
}
#img-c .img .img-1 {
  aspect-ratio: 6/7.5;
  overflow: hidden;
}
#img-c .img .img-1 :hover {
  transition: 0.3s;
  transform: scale(1);
}
#img-c .img .img-1 img {
  max-width: 100%;
  height: 100%;
  transition: 0.3s;
  transform: scale(1.06);
}
#img-c .img .img-2 {
  aspect-ratio: 6/7.5;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
#img-c .img .img-2 :hover {
  transform: scale(1);
}
#img-c .img .img-2 img {
  width: 100%;
  height: 100%;
  transition: 0.3s;
  transform: scale(1.05);
}
#img-c .img .img-3 {
  aspect-ratio: 6/7.5;
  overflow: hidden;
  background-color: aqua;
}
#img-c .img .img-3 :hover {
  transform: scale(1);
}
#img-c .img .img-3 video {
  width: 100%;
  height: 100%;
  transition: 0.3s;
  transform: scale(1.05);
}
#img-c .img .text {
  max-width: 13rem;
  margin-top: 1rem;
}
#img-c .img .text p {
  margin-top: 0.7rem;
  font-size: 0.9rem;
}

#google .firm-main {
  display: flex;
  gap: 7rem;
  overflow: auto;
}
#google .firm-main .text {
  width: 18rem;
  margin-bottom: 8rem;
  white-space: normal;
}
#google h1 {
  font-size: 3rem;
}
#google h3 {
  margin-bottom: 1rem;
}
#google .google {
  width: 50rem;
  white-space: nowrap;
}
#google .google .title img {
  width: 40%;
}
#google .kfc {
  white-space: nowrap;
}
#google .kfc .title img {
  width: 40%;
}
#google .wilson .title img {
  width: 46%;
}
#google .at .title img {
  width: 12%;
}
#google .patagonia .title img {
  width: 60%;
}

.total {
  display: flex;
  flex: 1;
  gap: 1rem;
}
.total .text-ct {
  flex: 1;
}
.total .text-ct h1 {
  font-size: 7svw;
  letter-spacing: -0.1rem;
}
.total .video-2 {
  flex: 1;
}

#row {
  margin-block: 15rem;
}
#row h2 {
  font-size: 3rem;
}
#row .title {
  display: flex;
  place-content: flex-end space-between;
  align-items: flex-end;
}
#row .row-1, #row .row-2, #row .row-3, #row .row-4, #row .row-5, #row .row-6, #row .row-7, #row .row-8, #row .row-9, #row .row-10, #row .row-11, #row .row-12 {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}
#row .row-1 a, #row .row-2 a, #row .row-3 a, #row .row-4 a, #row .row-5 a, #row .row-6 a, #row .row-7 a, #row .row-8 a, #row .row-9 a, #row .row-10 a, #row .row-11 a, #row .row-12 a {
  grid-row: 1/span 2;
}
#row .row-1 a :hover, #row .row-2 a :hover, #row .row-3 a :hover, #row .row-4 a :hover, #row .row-5 a :hover, #row .row-6 a :hover, #row .row-7 a :hover, #row .row-8 a :hover, #row .row-9 a :hover, #row .row-10 a :hover, #row .row-11 a :hover, #row .row-12 a :hover {
  transition: 0.3s;
  transform: scale(1);
}
#row .row-1 a img, #row .row-2 a img, #row .row-3 a img, #row .row-4 a img, #row .row-5 a img, #row .row-6 a img, #row .row-7 a img, #row .row-8 a img, #row .row-9 a img, #row .row-10 a img, #row .row-11 a img, #row .row-12 a img {
  transition: 0.3s;
  transform: scale(1.05);
}
#row .row-1 .text, #row .row-2 .text, #row .row-3 .text, #row .row-4 .text, #row .row-5 .text, #row .row-6 .text, #row .row-7 .text, #row .row-8 .text, #row .row-9 .text, #row .row-10 .text, #row .row-11 .text, #row .row-12 .text {
  display: flex;
  justify-content: space-between;
  font-size: 2.4rem;
}
#row .row-1 .text a, #row .row-2 .text a, #row .row-3 .text a, #row .row-4 .text a, #row .row-5 .text a, #row .row-6 .text a, #row .row-7 .text a, #row .row-8 .text a, #row .row-9 .text a, #row .row-10 .text a, #row .row-11 .text a, #row .row-12 .text a {
  animation: marquee 60s linear;
  will-change: transform;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
#row .row-1 .text p :hover, #row .row-2 .text p :hover, #row .row-3 .text p :hover, #row .row-4 .text p :hover, #row .row-5 .text p :hover, #row .row-6 .text p :hover, #row .row-7 .text p :hover, #row .row-8 .text p :hover, #row .row-9 .text p :hover, #row .row-10 .text p :hover, #row .row-11 .text p :hover, #row .row-12 .text p :hover {
  text-decoration: underline;
}
#row .row-1 .text a, #row .row-2 .text a, #row .row-3 .text a, #row .row-4 .text a, #row .row-5 .text a, #row .row-6 .text a, #row .row-7 .text a, #row .row-8 .text a, #row .row-9 .text a, #row .row-10 .text a, #row .row-11 .text a, #row .row-12 .text a {
  width: 100%;
  max-width: 5%;
}
#row .row-1 .press, #row .row-2 .press, #row .row-3 .press, #row .row-4 .press, #row .row-5 .press, #row .row-6 .press, #row .row-7 .press, #row .row-8 .press, #row .row-9 .press, #row .row-10 .press, #row .row-11 .press, #row .row-12 .press {
  align-self: flex-end;
}
#row .row-1 .img-11, #row .row-1 .img-22, #row .row-1 .img-33, #row .row-1 .img-44, #row .row-1 .img-55, #row .row-1 .img-66, #row .row-1 .img-77, #row .row-1 .img-88, #row .row-1 .img-99, #row .row-1 .img-100, #row .row-1 .img-110, #row .row-1 .img-120, #row .row-2 .img-11, #row .row-2 .img-22, #row .row-2 .img-33, #row .row-2 .img-44, #row .row-2 .img-55, #row .row-2 .img-66, #row .row-2 .img-77, #row .row-2 .img-88, #row .row-2 .img-99, #row .row-2 .img-100, #row .row-2 .img-110, #row .row-2 .img-120, #row .row-3 .img-11, #row .row-3 .img-22, #row .row-3 .img-33, #row .row-3 .img-44, #row .row-3 .img-55, #row .row-3 .img-66, #row .row-3 .img-77, #row .row-3 .img-88, #row .row-3 .img-99, #row .row-3 .img-100, #row .row-3 .img-110, #row .row-3 .img-120, #row .row-4 .img-11, #row .row-4 .img-22, #row .row-4 .img-33, #row .row-4 .img-44, #row .row-4 .img-55, #row .row-4 .img-66, #row .row-4 .img-77, #row .row-4 .img-88, #row .row-4 .img-99, #row .row-4 .img-100, #row .row-4 .img-110, #row .row-4 .img-120, #row .row-5 .img-11, #row .row-5 .img-22, #row .row-5 .img-33, #row .row-5 .img-44, #row .row-5 .img-55, #row .row-5 .img-66, #row .row-5 .img-77, #row .row-5 .img-88, #row .row-5 .img-99, #row .row-5 .img-100, #row .row-5 .img-110, #row .row-5 .img-120, #row .row-6 .img-11, #row .row-6 .img-22, #row .row-6 .img-33, #row .row-6 .img-44, #row .row-6 .img-55, #row .row-6 .img-66, #row .row-6 .img-77, #row .row-6 .img-88, #row .row-6 .img-99, #row .row-6 .img-100, #row .row-6 .img-110, #row .row-6 .img-120, #row .row-7 .img-11, #row .row-7 .img-22, #row .row-7 .img-33, #row .row-7 .img-44, #row .row-7 .img-55, #row .row-7 .img-66, #row .row-7 .img-77, #row .row-7 .img-88, #row .row-7 .img-99, #row .row-7 .img-100, #row .row-7 .img-110, #row .row-7 .img-120, #row .row-8 .img-11, #row .row-8 .img-22, #row .row-8 .img-33, #row .row-8 .img-44, #row .row-8 .img-55, #row .row-8 .img-66, #row .row-8 .img-77, #row .row-8 .img-88, #row .row-8 .img-99, #row .row-8 .img-100, #row .row-8 .img-110, #row .row-8 .img-120, #row .row-9 .img-11, #row .row-9 .img-22, #row .row-9 .img-33, #row .row-9 .img-44, #row .row-9 .img-55, #row .row-9 .img-66, #row .row-9 .img-77, #row .row-9 .img-88, #row .row-9 .img-99, #row .row-9 .img-100, #row .row-9 .img-110, #row .row-9 .img-120, #row .row-10 .img-11, #row .row-10 .img-22, #row .row-10 .img-33, #row .row-10 .img-44, #row .row-10 .img-55, #row .row-10 .img-66, #row .row-10 .img-77, #row .row-10 .img-88, #row .row-10 .img-99, #row .row-10 .img-100, #row .row-10 .img-110, #row .row-10 .img-120, #row .row-11 .img-11, #row .row-11 .img-22, #row .row-11 .img-33, #row .row-11 .img-44, #row .row-11 .img-55, #row .row-11 .img-66, #row .row-11 .img-77, #row .row-11 .img-88, #row .row-11 .img-99, #row .row-11 .img-100, #row .row-11 .img-110, #row .row-11 .img-120, #row .row-12 .img-11, #row .row-12 .img-22, #row .row-12 .img-33, #row .row-12 .img-44, #row .row-12 .img-55, #row .row-12 .img-66, #row .row-12 .img-77, #row .row-12 .img-88, #row .row-12 .img-99, #row .row-12 .img-100, #row .row-12 .img-110, #row .row-12 .img-120 {
  aspect-ratio: content-fit;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

#footer-s {
  color: white;
  background-color: #252422;
  fill: white;
}

#footer-c {
  padding-block: 7rem;
}
#footer-c .grid-row {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(6, 1fr);
}
#footer-c .grid-row svg {
  grid-column: 1/span 3;
  width: 30%;
}
#footer-c .grid-row .subtitle {
  grid-column: 4/span 3;
  font-size: 2rem;
}
#footer-c .grid-row .info-1 {
  grid-column: 4/span 1;
}
#footer-c .search {
  grid-column: 1/span 2;
}
#footer-c .search input {
  width: 100%;
  padding: 1rem;
  background-color: #252422;
  border: none;
  border-bottom: 1px white solid;
}
#footer-c .search .content {
  display: flex;
}

#behind-s {
  font-size: 0.7rem;
  color: grey;
  background-color: black;
}
#behind-s #behind-c {
  padding-block: 1lh;
}
#behind-s #behind-c .behind {
  display: flex;
  justify-content: space-between;
}