* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 1rem;
  background-color: #f4f4f4;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

video {
  display: block;
  width: 100%;
  height: 100%;
}

.section-nav {
  position: fixed;
  z-index: 800;
}

.container-nav {
  padding-inline: 5.4vw;
  text-transform: uppercase;
}

.section {
  padding-inline: 0;
  margin-inline: 0;
}

.container {
  padding-inline: 5.4vw;
}

.divition-line {
  margin-top: 8rem;
  margin-bottom: 8rem;
  border-top: 1px solid #000;
}
.divition-line-sht {
  margin-right: 80%;
  margin-bottom: 8rem;
  border-top: 1px solid #000;
}
.divition-line-tight {
  margin-top: 4rem;
  margin-bottom: 1rem;
  border-top: 1px solid #000;
}

.see-button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem 0.3rem;
  margin-top: 4rem;
  color: black;
  border: 1.5px solid black;
  border-radius: 1.6rem;
}

.nav {
  display: grid;
  grid-template-columns: 3fr 5fr 1fr;
  gap: 40svh;
  width: 100%;
  padding-block: 2.875rem;
  color: white;
  fill: white;
}
.nav .item {
  display: flex;
  gap: 3rem;
}
.nav .logo {
  width: 100%;
  height: 100%;
}
#two {
  padding-block: 15vw 8rem;
}
#two .item-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#two .item-2 p {
  max-width: 15rem;
  margin-top: 4rem;
  font-size: 1rem;
  text-align: center;
}

.three {
  display: flex;
  justify-content: space-between;
}
.three .left {
  max-width: 60%;
}

#img-c {
  margin-top: 3rem;
}
#img-c .img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.3rem;
}
#img-c .img .img-1 {
  aspect-ratio: 6/7.5;
  overflow: hidden;
  background-color: aqua;
}
#img-c .img .img-1 img {
  width: 100%;
  height: 100%;
}
#img-c .img .img-2 {
  aspect-ratio: 6/7.5;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: aqua;
}
#img-c .img .img-2 img {
  width: 100%;
  height: 100%;
}
#img-c .img .img-3 {
  aspect-ratio: 6/7.5;
  overflow: hidden;
  background-color: aqua;
}
#img-c .img .img-3 img {
  width: 100%;
  height: 100%;
}
#img-c .img .text {
  max-width: 13rem;
  margin-top: 1rem;
}
#img-c .img .text p {
  margin-top: 0.7rem;
  font-size: 0.9rem;
}

#google .firm-main {
  display: flex;
}
#google .google .title img {
  width: 15%;
}
#google .kfc .title img {
  width: 15%;
}
#google .wilson .title img {
  width: 15%;
}
#google .at .title img {
  width: 15%;
}
#google .patagonia .title img {
  width: 15%;
}

.total {
  display: flex;
  flex: 1;
}
.total .text-ct {
  flex: 1;
}
.total .text-ct h1 {
  font-size: 15vh;
}
.total .text-ct p {
  display: inline;
}
.total .video-2 {
  flex: 1;
}

#row {
  margin-block: 15rem;
}
#row h2 {
  font-size: 3rem;
}
#row .title {
  display: flex;
  justify-content: space-between;
}
#row .row-1, #row .row-2, #row .row-3, #row .row-4, #row .row-5 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}
#row .row-1 img, #row .row-2 img, #row .row-3 img, #row .row-4 img, #row .row-5 img {
  grid-row: 1/span 2;
}
#row .row-1 .text, #row .row-2 .text, #row .row-3 .text, #row .row-4 .text, #row .row-5 .text {
  display: flex;
  justify-content: space-between;
}
#row .row-1 .text figure, #row .row-2 .text figure, #row .row-3 .text figure, #row .row-4 .text figure, #row .row-5 .text figure {
  width: 5%;
}
#row .row-1 .press, #row .row-2 .press, #row .row-3 .press, #row .row-4 .press, #row .row-5 .press {
  align-self: flex-end;
}

#footer-s {
  color: white;
  background-color: #252422;
  fill: white;
}

#footer-c {
  padding-block: 7rem;
}
#footer-c .grid-row {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(6, 1fr);
}
#footer-c .grid-row figure {
  grid-column: 1/span 3;
  width: 10%;
}
#footer-c .grid-row .subtitle {
  grid-column: 4/span 3;
  font-size: 2rem;
}
#footer-c .grid-row .info-1 {
  grid-column: 4/span 1;
}

#behind-s {
  font-size: 0.7rem;
  color: grey;
  background-color: black;
}
#behind-s #behind-c {
  padding-block: 1lh;
}
#behind-s #behind-c .behind {
  display: flex;
  justify-content: space-between;
}